<div class="container">
	<div class="row">
        <div *ngFor = 'let lst of imgs'>
      <ul>
        <img [src] = 'lst.url' height="200px" width="200px"class="img-responsive">
       </ul>
      </div>
  </div>
</div>





            <!--<div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
               </div>
            </div>-->
